body {
	background-color:#2D7E30 !important;
	color:#FFFFFF; 
	font-family: 'Bitstream Charter', sans-serif;
}
h1,h2 {
	font-family: 'DejaVu', sans-serif;
}
h3,h4,h5,h6 {
	font-family: 'Bitstream Charter', sans-serif;
}
.jumbotron {
	background-color:#2D7E30 !important; 
	color:#B1C725;
}
pre {
	margin:10px;
	background-color: #226025;
	border:0px;
	color:#FFFFFF;
	padding: 20px;
	text-align: left !important;
}
var {
	color:#B1C725;
}
.extras {
	font-size: 16px !important;
}
.response {
	font-size: 20px !important;
}
hr {
	display: block;

}