body {
	background-color:#2D7E30 !important;
	color:#FFFFFF; 
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.jumbotron {
	background-color:#2D7E30 !important; 
	color:#B1C725;
}
pre {
	margin:10px;
	background-color: #226025;
	border:0px;
	color:#FFFFFF;
	padding: 20px;
	text-align: left !important;
}
var {
	color:#B1C725;
}
.extras {
	font-size: 16px !important;
}
.response {
	font-size: 20px !important;
}
hr {
	display: block;

}
.fa {
	color:#FFFFFF !important;
}
.fa:hover{
	color:#E6E6E6 !important;
}
.footer{
	margin-bottom: 50px;
}
.illus{
	position: absolute;
	right:250px;
	z-index: 2;
	padding-bottom: 20px;
}